<div class="container" id="footer-container">
    <div id="footer"> 
        <p id="footer-message">crafted with ❤️ by <a href="{{ site.github_link }}" target="_blank">araekiel</a></p>
        <p id="footer-links">
            <a class="footer-link" href="{{ site.steam_link }}" target="_blank">steam</a>
            <a class="footer-link" href="{{ site.github_link }}" target="_blank">github</a>
            <a class="footer-link" href="{{ site.instagram_link }}" target="_blank">instagram</a>
            <a class="footer-link" href="{{ site.dev_link }}" target="_blank">dev</a> 
            <a class="footer-link" href="mailto: {{ site.email }}" target="_blank">email</a>
        </p>
    </div>
</div>